body{
  display: flex;
  justify-content: center;
  height: 1000vh;
  margin:0;
  background:black;
  color:white;
  padding:20px;
  text-align: center;
}
header{
  text-align: center;
}
header > h1{
  font-size: 1.25rem;
  color: #fffff0;
}
header > p{
font-size: 0.95rem;
color:#888889;
}
.gameStatus{
 background: green;
  height: 40px;
  display: block;
  width: 50%;
  margin: 0 auto;
  padding: 5px;
}
.chips{
  margin: 1rem;
  width: 400px;
  display: inline-block;
  flex-direction: row;
}
.colorChip{
  display: inline-block;
  padding: 0.4em;
  margin: 5px;
  border-radius: 4px;
  width: fit-content;
}
